#**************************** Copyright © Jonathon Bell. All rights reserved.
#**
#**
#**  Version : $Header:$
#**
#**
#**  Purpose : Specifies files to track using git lfs.
#**
#**
#**  See Also: https://git-scm.com/docs/gitattributes
#**
#**
#*****************************************************************************

*.sf2 filter=lfs diff=lfs merge=lfs -text

#*****************************************************************************
