//**************************** Copyright © Jonathon Bell. All rights reserved.
//*
//*
//*  Version : $Header:$
//*
//*
//*  Purpose :
//*
//*
//*  Comments: This file uses a tab size of 3 spaces.
//*
//*
//****************************************************************************

.transport-pane
{
  -fx-background-color:    #101010;
  -marker-color:           #2d659a;
  -static-color:           grey;
  -active-color:           lightgrey;
  -hover-color :           white;
}

.static
{
  -fx-text-fill:           -static-color;
  -fx-font-size:           11;
  -fx-alignment:           center;
}

.counter
{
  -fx-text-fill:           -active-color;
  -fx-font-size:           14;
  -fx-font-family:         Arial;
  -fx-font-weight:         bolder;
  -fx-alignment:           center;
}

.marker
{
  -fx-text-fill:           -marker-color;
  -fx-font-size:           14;
  -fx-font-family:         Arial;
  -fx-font-weight:         bolder;
  -fx-alignment:           center;
}

.move
{
  -fx-font-family:         "FontAwesome";
  -fx-font-size:           14;
  -fx-alignment:           center;
  -fx-text-fill:           #bbbbbb;
}

.move:hover
{
  -fx-text-fill:           -hover-color;
}

.play
{
  -fx-font-family:         "FontAwesome";
  -fx-font-size:           22;
  -fx-alignment:           center;
  -fx-text-fill:           -active-color;
}

.play:hover
{
  -fx-text-fill:           -hover-color;
}

//****************************************************************************
